APP_NAME=CareerPilot AI
APP_ENV=ci
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=careerpilot_ai_test
DB_USERNAME=root
DB_PASSWORD=root

QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
